.content{
    margin-top: 50px;
    .content__wrapper{
        display: grid;
        grid-template-columns: auto;
        gap: 40px;
        .content__left{
            color: white;
            display: flex;
            flex-direction: column;
            gap: 50px;
            .content__bottom{
                display: flex;
                flex-direction: column;
                gap: 20px;
                .content__btns{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                   .cb_1{
                    width: 60%;
                    height: 40px;
                    background-color: #326CF9;
                    border: 1px solid #326CF9;
                    color: white;
                    border-radius: 5px;
                    transition: all ease 0.4s;
                    &:hover{
                        background-color: transparent;
                        border: 1px solid #707070;
                    }
                }
                .cb_2{
                    width: 60%;
                height: 40px;
                background-color: transparent;
                border: 1px solid #707070;
                color: white;
                border-radius: 5px;
                   } 
                }
            }
        }
        .content__right{
            img{
                width: 100%;
            }
        }
    }
    .un_content{
        margin-top: 100px;
        color: white;
        .un__content__title{
            display: flex;
            flex-direction: column;
            gap: 10px;
            h3{
                color: #326CF9;
            }
        }
    }
}
@media (min-width: 650px) {
    .content{
        .un_content{
            .un__content__title{
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                h3{
                    font-size: 25px;
                }
                h1{
                    font-size: 30px;
                }
                .bottom__cr{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    p{
                        width: 80%;
                    }
                }
            }
        }
    }
}
@media (min-width: 952px) {
    .content{
        margin-top: 100px;
        .content__wrapper{
            display: grid;
            grid-template-columns: auto auto;
            align-items: center;
            gap: 200px;
            .content__right{
                img{
                    width:100%;
                }
            }
        }
    }
}
