.under__footer{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    gap: 5px;
    button{
        width: 70%;
        height: 40px;
        background-color: #326CF9;
        border-radius: 5px;
        border: 1px solid #326CF9;
        font-size: 16px;
        color: white;
        transition: all ease 0.4s;
        &:hover{
            background-color: transparent;
            border: 1px solid #707070;
        }
    }
}
@media (min-width: 390px) {
    .under__footer{
        button{
            width: 200px;
            height: 45px;
        }
    }
}
@media (min-width: 500px) {
    .under__footer{
        h1{
            font-size: 50px;
        }
        p{
            font-size: 18px;
        }
        img{
            width: 5%;
        }
    }
}